.App {
}

h1 {
    margin-bottom: 0px;
}
.app-page {
    position: relative;
    overflow-x: auto;
}
.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 1rem;
    overflow-x: auto;
}

.app-header {
    display: flex;
    justify-content: center;
}
table {
    padding: 0.5rem;
    border: 0.2px solid rgb(240, 240, 240);
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 98%;
    border-collapse: collapse;
}

thead {
    text-transform: capitalize;
    background-color: #ececec;
    line-height: 35px;
}

tr {
    border-bottom: 0.2px solid rgb(240, 240, 240);
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px 12px;
    font-size: 20px;
}

th {
    background-color: rgb(117, 201, 250);
}

td {
    background-color: rgb(205, 235, 253);
}

.name-col {
    min-width: 200px;
}

.owner-col {
    white-space: nowrap;
    overflow: auto;
    min-width: 50px;
}

.url-col {
    white-space: nowrap;
    overflow: auto;
    min-width: 45px;
}

.description-col-head {
    min-width: 200px;
}

.description-col {
    min-width: 200px;
    font-size: 15px;
}

.star-col {
    min-width: 100px;
    width: 100px;
}

.pagination-section {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    width: 98%;
}
.pagination-section-right {
    display: flex;
    gap: 10px;
}

.pagination-left {
    display: flex;
    gap: 10px;
}

img {
    height: 23px;
}
